name: Build and Deploy to GitHub Pages on Push

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        env:
          API_KEY: ${{ secrets.API_KEY }}
          MESSAGING_SENDER_ID: ${{ secrets.MESSAGING_SENDER_ID }}
          APP_ID: ${{ secrets.APP_ID }}
        with:
          branch: gh-pages
          folder: build
